<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiezhu.pms.dao.shiro.RecordDao">
    
    <insert id="recordRoleOperation" parameterType="com.jiezhu.pms.entity.RoleOperationRecords"
        keyProperty="id" useGeneratedKeys="true"> 
        insert into role_operation_records(
         role_id,operator_id,description,op_time
        )
        values( 
         #{roleId},#{operatorId},#{description},current_timestamp
         <!-- #{opTime} -->
        );
    </insert>
    
    
     <select id="getRecordsByRoleId" parameterType="java.lang.Integer" resultType="RoleOperationRecords">
        select op_time as opTime,description 
        from  role_operation_records 
        where role_id=#{roleId}
    </select>
    
    
</mapper>