        body{margin:0px;padding:0px;overflow-x:hidden;background:#F5F5F5;}
        a img{border:none;}
        a{text-decoration:none;color:#fff;}
        img{max-width:100%;}
        .spn-txt{margin-left:60px;height: 30px;position: absolute;top: 20px;font-size: 24px;}
        .sp-login ul {border:1px solid #ccc;width:310px;height:34px;}
        .sp-login ul li{display:inline;border-right:1px solid #ccc;font-size: 14px;padding-top: 16px;padding-bottom: 4px;padding-right: 15px;}
        .sp-login{width:100%;margin-left:800px;padding-top: 14px;}
        .logo{width:100%;height:66px;background:url(images/logo.png) no-repeat;margin-left:23%;}
        
        .content{text-align:center;}
        .main{background: #ffffff;width: 1028px;margin-left: 23%;height: 100%;}
        hr {width:996px;margin-top: 20px;}
        .wrapper {padding-right: 57%;}
        .wrapper ul li {padding-top: 20px;font-size:14px;font-family:"Microsoft YaHei";color:#4F5F6E;}
        .wrapper ul li input{width:260px;height:28px;outline:none;}
        ul li{list-style-type:none;}
        .se-ll{width: 18em;outline: none;height: 22px;line-height: 32px;padding: 8px 12px;}
        .sp-0{padding-right:80%;width:300px;position:relative;right:40px;}
        .sp-1{color:#F39700;}
        .footer{width:100%;height:120px;background:#434343;padding-left:80px;}
        #list-f1{padding-right:11.5px;}
        .div-title{font-size:16px;font-family:"Microsoft YaHei";color:#4F5F6E;width:200px;position:relative;right:50px;}
        .footer ul {padding-top: 10px;}
        .footer ul li{color:#AAAAAA;padding-right:150px;}
        .footer-top{background:url(images/footer-01.png);width:100%;height:60px;margin-top:17.8em;}
        .btn{width:80px;height:28px;background:#F39700;border-radius:3px;border:none;outline:none;color:#ffffff;margin-left: 5.8%;margin-top:38px;margin-bottom: 30px;}
        #btn-2{position:relative;right:30px;}
        li#li-out {border-right: none;}
        .li-color a{color:#000;}
        input[type="text"] {outline: none;}
        
        
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
 
/*设置二级导航样式*/   
.nav {
   width: 100%;
   height: 46px;
   background-color: #434343;
   position: relative;
}
.nav ul li { 
    width:100px; 
    height:30px; 
    float:left; 
    position:relative;
    z-index: 99;
}
.nav ul li a {
    display:block;
    width: 100px;
    height:46px; 
    line-height:40px; 
    text-align:center;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.nav ul li a:hover { 
   color:#F39700;
   text-decoration:none;
}
 
/*设置一级导航样式*/
.nav ul li ul{
    display:none;
}
.nav ul li:hover ul{
    display:block;
    width:100px;
    position:absolute;
    top:30px;
    left:0;
    background-color:#434343;
}
.nav ul li:hover ul li a{
    display:block;
    width:96px;
    height:26px;
    line-height:26px;
    border:2px solid gray;
    text-align:center;
}
.nav ul li:hover ul li a:hover{
    background-color:orange;
}
 
/*设置三级导航样式*/
.nav ul li:hover ul li ul { 
    display:none;
}
.nav ul li:hover ul li:hover ul{ 
    display:block; 
    width:100px; 
    position:absolute; 
    top:0px; 
    left:100px;
    background-color:#b4b4b4;
}
.nav ul li:hover ul li:hover ul li { 
    width:100px; 
    height:30px; 
}
.nav ul li:hover ul li:hover ul li a { 
    display:block; 
    width:96px; 
    height:26px; 
    line-height:26px; 
    border:2px solid gray; 
    text-align:center; 
}
.nav ul li:hover ul li:hover ul li a:hover { 
    background-color:#00CC00;
}
.nav ul li:hover ul .nav_jw ul { 
    display:none;
}
.nav ul li:hover ul .nav_jw:hover ul{ 
    display:block; 
    width:100px; 
    position:absolute; 
    top:0px; 
    left:-100px;
    background-color:#b4b4b4;
}
.nav ul li:hover ul .nav_jw:hover ul li { 
    width:100px; 
    height:30px; 
}
.nav ul li:hover ul .nav_jw:hover ul li a { 
    display:block; 
    width:96px; 
    height:26px; 
    line-height:26px; 
    border:2px solid gray; 
    text-align:center; 
}
.nav ul li:hover ul .nav_jw:hover ul li a:hover { 
    background-color:#00CC00;
}
 
 .spz {
position: relative;
bottom: 30px;
}

ul.ul-content {
margin-left: 26%;
width: 800px;
float: left;
margin-left: 22.5%;
position: relative;
left: 65px;
}

span.nav-img {
position: absolute;
margin-left: 23%;
z-index: 99;
}
 #formwrapper {
width:450px;
margin:15px auto;
padding:20px;
text-align:left;
}
fieldset {
padding:10px;
margin-top:5px;
background:#fff;
}
fieldset legend {
color:#1E7ACE;
font-weight:bold;
padding:3px 20px 3px 20px;
border:1px solid #A4CDF2; 
background:#fff;
}
fieldset label {
float:left;
width:120px;
text-align:right;
padding:4px;
margin:1px;
}
fieldset div {
clear:left;
margin-bottom:20px;
}
.enter{ text-align:center;}
.clear {
clear:both;
}
select#confirm_password {
padding-left: 133px;
padding-top: 3px;
}
.yanzheng {
background: red;
width: 100px;
height: 30px;
float: right;
position: relative;
bottom: 50px;
}